body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#burlington-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#recommend-btn {
  background-color: rgb(249, 249, 28);
  padding: 10px; 
  border: none; 
  border-radius: 12px; 
}