body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block; 
}

img {
	max-width: 300px;
}

.check1 {
	display: flex;
	margin-top: 10px;
	margin-bottom: 5px;
}

.check2 {
	display: flex; 
	margin-top: 5px;
	margin-bottom: 5px;
}

.check3 {
	display: flex; 
	margin-top: 5px;
	margin-bottom: 5px;
}

#submit-btn {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 35px;
	padding-left: 35px;
	background-color: rgb(23, 232, 23);
	color: white; 
	cursor: pointer;
	border: none; 
	border-radius: 15px;

}

